In [1]:
import pandas as pd
iris = pd.read_csv('iris_dataset.csv')
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [2]:
import pandas as pd
iris = pd.read_csv('iris_dataset.csv')
X = iris.drop('target', axis=1)
Y = iris['target']
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [4]:
import pandas as pd
iris = pd.read_csv('iris_dataset.csv')
X = iris.drop('target', axis=1)
Y = iris['target']

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.4, random_state=0)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_test, Y_test)
Y_pred = gnb.predict(X_test)

from sklearn import metrics
print("Gaussian Naive Bayes model Accuracy(in %) : ", metrics.accuracy_score(Y_test, Y_pred)*100)

Gaussian Naive Bayes model Accuracy(in %) :  95.0