Name : "Sufyan Afzal" , Reg No : "FA23-ABI-061"

Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

---------------------------------------------------------------------

Lab Tasks 1

---------------------------------------------------------------------

Q.1 : Download the movie dataset from this website (Download it manually) https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset?select=House_Rent_Dataset.csv to your computer and upload it. Use that file and assign it to a dataframe called house_details

In [9]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv", sep=',')
print(house_details)

       Posted On  BHK   Rent  Size            Floor    Area Type  \
0     2022-05-18    2  10000  1100  Ground out of 2   Super Area
1     2022-05-13    2  20000   800       1 out of 3   Super Area
2     2022-05-16    2  17000  1000       1 out of 3   Super Area
3     2022-07-04    2  10000   800       1 out of 2   Super Area
4     2022-05-09    2   7500   850       1 out of 2  Carpet Area
...          ...  ...    ...   ...              ...          ...
4741  2022-05-18    2  15000  1000       3 out of 5  Carpet Area
4742  2022-05-15    3  29000  2000       1 out of 4   Super Area
4743  2022-07-10    3  35000  1750       3 out of 5  Carpet Area
4744  2022-07-06    3  45000  1500     23 out of 34  Carpet Area
4745  2022-05-04    2  15000  1000       4 out of 5  Carpet Area

                 Area Locality       City Furnishing Status  Tenant Preferred  \
0                       Bandel    Kolkata       Unfurnished  Bachelors/Family
1     Phool Bagan, Kankurgachi    Kolkata    Semi-Furnished  Bachelors/Family
2      Salt Lake City Sector 2    Kolkata    Semi-Furnished  Bachelors/Family
3                  Dumdum Park    Kolkata       Unfurnished  Bachelors/Family
4                South Dum Dum    Kolkata       Unfurnished         Bachelors
...                        ...        ...               ...               ...
4741              Bandam Kommu  Hyderabad    Semi-Furnished  Bachelors/Family
4742      Manikonda, Hyderabad  Hyderabad    Semi-Furnished  Bachelors/Family
4743      Himayath Nagar, NH 7  Hyderabad    Semi-Furnished  Bachelors/Family
4744                Gachibowli  Hyderabad    Semi-Furnished            Family
4745           Suchitra Circle  Hyderabad       Unfurnished         Bachelors

      Bathroom Point of Contact
0            2    Contact Owner
1            1    Contact Owner
2            1    Contact Owner
3            1    Contact Owner
4            1    Contact Owner
...        ...              ...
4741         2    Contact Owner
4742         3    Contact Owner
4743         3    Contact Agent
4744         2    Contact Agent
4745         2    Contact Owner

[4746 rows x 12 columns]

Q.2 : Display the first 15 rows

In [10]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv", sep=',')
print(house_details.head(15))

     Posted On  BHK   Rent  Size            Floor    Area Type  \
0   2022-05-18    2  10000  1100  Ground out of 2   Super Area
1   2022-05-13    2  20000   800       1 out of 3   Super Area
2   2022-05-16    2  17000  1000       1 out of 3   Super Area
3   2022-07-04    2  10000   800       1 out of 2   Super Area
4   2022-05-09    2   7500   850       1 out of 2  Carpet Area
5   2022-04-29    2   7000   600  Ground out of 1   Super Area
6   2022-06-21    2  10000   700  Ground out of 4   Super Area
7   2022-06-21    1   5000   250       1 out of 2   Super Area
8   2022-06-07    2  26000   800       1 out of 2  Carpet Area
9   2022-06-20    2  10000  1000       1 out of 3  Carpet Area
10  2022-05-23    3  25000  1200       1 out of 4  Carpet Area
11  2022-06-07    1   5000   400       1 out of 1  Carpet Area
12  2022-05-14    1   6500   250       1 out of 4  Carpet Area
13  2022-05-09    1   5500   375       1 out of 2  Carpet Area
14  2022-05-05    3   8500   900  Ground out of 2  Carpet Area

                      Area Locality     City Furnishing Status  \
0                            Bandel  Kolkata       Unfurnished
1          Phool Bagan, Kankurgachi  Kolkata    Semi-Furnished
2           Salt Lake City Sector 2  Kolkata    Semi-Furnished
3                       Dumdum Park  Kolkata       Unfurnished
4                     South Dum Dum  Kolkata       Unfurnished
5                       Thakurpukur  Kolkata       Unfurnished
6                          Malancha  Kolkata       Unfurnished
7                          Malancha  Kolkata       Unfurnished
8   Palm Avenue Kolkata, Ballygunge  Kolkata       Unfurnished
9                          Natunhat  Kolkata    Semi-Furnished
10  Action Area 1, Rajarhat Newtown  Kolkata    Semi-Furnished
11                        Keshtopur  Kolkata       Unfurnished
12               Tarulia, Keshtopur  Kolkata         Furnished
13                    Dum Dum Metro  Kolkata       Unfurnished
14                  Paschim Barisha  Kolkata       Unfurnished

    Tenant Preferred  Bathroom Point of Contact
0   Bachelors/Family         2    Contact Owner
1   Bachelors/Family         1    Contact Owner
2   Bachelors/Family         1    Contact Owner
3   Bachelors/Family         1    Contact Owner
4          Bachelors         1    Contact Owner
5   Bachelors/Family         2    Contact Owner
6          Bachelors         2    Contact Agent
7          Bachelors         1    Contact Agent
8          Bachelors         2    Contact Agent
9   Bachelors/Family         2    Contact Owner
10  Bachelors/Family         2    Contact Agent
11  Bachelors/Family         1    Contact Agent
12         Bachelors         1    Contact Owner
13  Bachelors/Family         1    Contact Agent
14         Bachelors         2    Contact Owner

Q.3 : Display the following columns with all rows

Posted On, Rent, city and Furnishing Status

In [13]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv",sep=',')
print(house_details[['Posted On','Rent','City','Furnishing Status']])

       Posted On   Rent       City Furnishing Status
0     2022-05-18  10000    Kolkata       Unfurnished
1     2022-05-13  20000    Kolkata    Semi-Furnished
2     2022-05-16  17000    Kolkata    Semi-Furnished
3     2022-07-04  10000    Kolkata       Unfurnished
4     2022-05-09   7500    Kolkata       Unfurnished
...          ...    ...        ...               ...
4741  2022-05-18  15000  Hyderabad    Semi-Furnished
4742  2022-05-15  29000  Hyderabad    Semi-Furnished
4743  2022-07-10  35000  Hyderabad    Semi-Furnished
4744  2022-07-06  45000  Hyderabad    Semi-Furnished
4745  2022-05-04  15000  Hyderabad       Unfurnished

[4746 rows x 4 columns]

Q.4 : Find the total number of rows in your dataset?

In [19]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv",sep=',')
totalRows = house_details.shape[0]
print(f"Total number of rows : {totalRows}")

Total number of rows : 4746

Q.5 : Find the total number of columns in your dataset?

In [22]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv",sep=',')
totalColumns = house_details.shape[1]
print(f"Total number of coloumns : {totalColumns}")

Total number of coloumns : 12

Q.6 : Print the name of all the columns present in your dataset

In [25]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv",sep=',') 
print(house_details.columns)

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

Q.7 : Display the detail of houses that are Furnished

In [33]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv", sep=',') 
furnishedHouse = house_details[house_details["Furnishing Status"] == "Furnished"]
semiFurnishedHouse = house_details[house_details["Furnishing Status"] == "Semi-Furnished"]
unFurnishedHouse = house_details[house_details["Furnishing Status"] == "Unfurnished"]
print("-" * 60)
print("Furnished Houses (First 5 rows):")
print(furnishedHouse.head()) 
print("-" * 60)

print("Semi-Furnished Houses (First 5 rows):")
print(semiFurnishedHouse.head())  
print("-" * 60)

print("Unfurnished Houses (First 5 rows):")
print(unFurnishedHouse.head())
print("-" * 60)

------------------------------------------------------------
Furnished Houses (First 5 rows):
     Posted On  BHK   Rent  Size            Floor    Area Type  \
12  2022-05-14    1   6500   250       1 out of 4  Carpet Area
15  2022-06-01    3  40000  1286       1 out of 1  Carpet Area
41  2022-05-12    3  12000  1500  Ground out of 2  Carpet Area
50  2022-06-22    1   7500   150       1 out of 1   Super Area
82  2022-05-23    2  15000   480  Ground out of 3  Carpet Area

             Area Locality     City Furnishing Status  Tenant Preferred  \
12      Tarulia, Keshtopur  Kolkata         Furnished         Bachelors
15  New Town Action Area 1  Kolkata         Furnished  Bachelors/Family
41              Bhadrakali  Kolkata         Furnished         Bachelors
50          Salt Lake City  Kolkata         Furnished  Bachelors/Family
82           shukhobrishti  Kolkata         Furnished  Bachelors/Family

    Bathroom Point of Contact
12         1    Contact Owner
15         2    Contact Owner
41         2    Contact Owner
50         1    Contact Owner
82         2    Contact Owner
------------------------------------------------------------
Semi-Furnished Houses (First 5 rows):
     Posted On  BHK   Rent  Size       Floor    Area Type  \
1   2022-05-13    2  20000   800  1 out of 3   Super Area
2   2022-05-16    2  17000  1000  1 out of 3   Super Area
9   2022-06-20    2  10000  1000  1 out of 3  Carpet Area
10  2022-05-23    3  25000  1200  1 out of 4  Carpet Area
16  2022-05-17    2   6000   600  1 out of 2   Super Area

                      Area Locality     City Furnishing Status  \
1          Phool Bagan, Kankurgachi  Kolkata    Semi-Furnished
2           Salt Lake City Sector 2  Kolkata    Semi-Furnished
9                          Natunhat  Kolkata    Semi-Furnished
10  Action Area 1, Rajarhat Newtown  Kolkata    Semi-Furnished
16                          Barasat  Kolkata    Semi-Furnished

    Tenant Preferred  Bathroom Point of Contact
1   Bachelors/Family         1    Contact Owner
2   Bachelors/Family         1    Contact Owner
9   Bachelors/Family         2    Contact Owner
10  Bachelors/Family         2    Contact Agent
16  Bachelors/Family         1    Contact Owner
------------------------------------------------------------
Unfurnished Houses (First 5 rows):
    Posted On  BHK   Rent  Size            Floor    Area Type  Area Locality  \
0  2022-05-18    2  10000  1100  Ground out of 2   Super Area         Bandel
3  2022-07-04    2  10000   800       1 out of 2   Super Area    Dumdum Park
4  2022-05-09    2   7500   850       1 out of 2  Carpet Area  South Dum Dum
5  2022-04-29    2   7000   600  Ground out of 1   Super Area    Thakurpukur
6  2022-06-21    2  10000   700  Ground out of 4   Super Area       Malancha

      City Furnishing Status  Tenant Preferred  Bathroom Point of Contact
0  Kolkata       Unfurnished  Bachelors/Family         2    Contact Owner
3  Kolkata       Unfurnished  Bachelors/Family         1    Contact Owner
4  Kolkata       Unfurnished         Bachelors         1    Contact Owner
5  Kolkata       Unfurnished  Bachelors/Family         2    Contact Owner
6  Kolkata       Unfurnished         Bachelors         2    Contact Agent
------------------------------------------------------------

Q.8 : Now, display those houses that are furnished and have rent < 15K

In [36]:
import pandas as pd
house_details = pd.read_csv("House_Rent_Dataset.csv", sep=',') 
furnishedHouse = house_details[(house_details["Furnishing Status"] == "Furnished") & (house_details["Rent"] < 15000)]
print("-" * 60)
print("Furnished Houses :")
print(furnishedHouse) 
print("-" * 60)

------------------------------------------------------------
Furnished Houses :
       Posted On  BHK   Rent  Size            Floor    Area Type  \
12    2022-05-14    1   6500   250       1 out of 4  Carpet Area
41    2022-05-12    3  12000  1500  Ground out of 2  Carpet Area
50    2022-06-22    1   7500   150       1 out of 1   Super Area
84    2022-06-22    2   6700   800       1 out of 2   Super Area
92    2022-05-15    1   9000   600       2 out of 4   Super Area
...          ...  ...    ...   ...              ...          ...
4668  2022-04-30    2  12500  1100       2 out of 5   Super Area
4673  2022-07-02    2   8000   800       1 out of 6   Super Area
4703  2022-07-06    2  12000   950       4 out of 4   Super Area
4725  2022-05-14    1   9000   650       1 out of 3   Super Area
4733  2022-06-28    1   5000   500  Ground out of 1  Carpet Area

                                          Area Locality       City  \
12                                   Tarulia, Keshtopur    Kolkata
41                                           Bhadrakali    Kolkata
50                                       Salt Lake City    Kolkata
84    Baishnavghata patuli , house number s-300 Kolk...    Kolkata
92                                               Behala    Kolkata
...                                                 ...        ...
4668                              Vanasthalipuram, NH 9  Hyderabad
4673              Modi Paradise, Hayathnagar, Hyderabad  Hyderabad
4703            Anandbagh, Secunderabad, Moula Ali Road  Hyderabad
4725                                 Basheer Bagh, NH 7  Hyderabad
4733                                     BN Reddy Nagar  Hyderabad

     Furnishing Status  Tenant Preferred  Bathroom Point of Contact
12           Furnished         Bachelors         1    Contact Owner
41           Furnished         Bachelors         2    Contact Owner
50           Furnished  Bachelors/Family         1    Contact Owner
84           Furnished  Bachelors/Family         1    Contact Owner
92           Furnished  Bachelors/Family         1    Contact Owner
...                ...               ...       ...              ...
4668         Furnished  Bachelors/Family         2    Contact Owner
4673         Furnished  Bachelors/Family         2    Contact Owner
4703         Furnished  Bachelors/Family         2    Contact Owner
4725         Furnished  Bachelors/Family         1    Contact Agent
4733         Furnished  Bachelors/Family         1    Contact Owner

[163 rows x 12 columns]
------------------------------------------------------------

---------------------------------------------------------------------

Lab Tasks 2

---------------------------------------------------------------------

Q.1 : Import the dataset from this address https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user without downloading it manually

In [37]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(url)
print(dataSet)

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

Q.2 : Assign it to a variable called users and use the 'user_id' as index. choose the seperater/delimiter carefully.

In [39]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users,sep='|',index_col="user_id")
print(dataSet)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

Q.3 : Display 1/3rd rows

In [42]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users,sep='|',index_col="user_id")
one3rd = dataSet.shape[0]//3
print(dataSet.head(one3rd))

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213
...      ...    ...         ...      ...
310       37      M    educator    91711
311       32      M  technician    73071
312       48      M       other    02110
313       41      M   marketing    60035
314       20      F     student    08043

[314 rows x 4 columns]

Q.4 : Display the entire occupation column

In [48]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users,sep='|',index_col="user_id")
print(dataSet['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

Q.5 : How many different occupations are in this dataset?

In [51]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users,sep='|',index_col="user_id")
print("Different Occupations : \n",dataSet['occupation'].unique())

Different Occupations :
 ['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

Q.6 : What is the most occuring occupation for each gender seperatly?

In [53]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users, sep='|', index_col="user_id")
genderOccupationCounts = dataSet.groupby(['gender', 'occupation']).size().reset_index(name='count')
mostCommonOccupation = genderOccupationCounts.loc[genderOccupationCounts.groupby('gender')['count'].idxmax()]
print(mostCommonOccupation[['gender', 'occupation', 'count']])

   gender occupation  count
17      F    student     60
38      M    student    136

Q.7 : What is the mean age of users?

In [56]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users, sep='|', index_col="user_id")
print("Mean of age : ",dataSet['age'].mean())

Mean of age :  34.05196182396607

Q.8 : Display the users who have age more than 40

In [60]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users, sep='|', index_col="user_id")
print("Age > 40 : \n\n",dataSet[dataSet['age'] > 40])

Age > 40 :

          age gender     occupation zip_code
user_id
2         53      F          other    94043
6         42      M      executive    98101
7         57      M  administrator    91344
10        53      M         lawyer    90703
13        47      M       educator    29206
...      ...    ...            ...      ...
932       58      M       educator    06437
934       61      M       engineer    22902
935       42      M         doctor    66221
937       48      M       educator    98072
942       48      F      librarian    78209

[272 rows x 4 columns]

Q.9 : Find max and min value from each numeric column

In [65]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users, sep='|', index_col="user_id")
print("Max values:\n\n", dataSet.max())
print("-"*30)
print("Min values:\n\n", dataSet.min())

Max values:

 age               73
gender             M
occupation    writer
zip_code       Y1A6B
dtype: object
------------------------------
Min values:

 age                       7
gender                    F
occupation    administrator
zip_code              00000
dtype: object

Q.10 : Find smallest and largest string from occupation column

In [67]:
import pandas as pd
users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
dataSet = pd.read_csv(users, sep='|', index_col="user_id")
print("Max string: ", dataSet['occupation'].max())
print("Min string: ", dataSet['occupation'].min())

Max string:  writer
Min string:  administrator