# Programming for Artificial Intelligence Lab 04

In [ ]:
import pandas as pd

# What is DataFrame?

In [1]:
data={"name":["Bill","Tom","Tim","John","Alex","Vanessa","Kate"],      
      "score":[90,80,85,75,95,60,65],      
      "sport":["Wrestling","Football","Skiing","Swimming","Tennis",
               "Karete","Surfing"],      
      "gender":["M","M","M","M","F","F","F"]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.head()

   name  score      sport gender
0  Bill     90  Wrestling      M
1   Tom     80   Football      M
2   Tim     85     Skiing      M
3  John     75   Swimming      M
4  Alex     95     Tennis      F

In [ ]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(4, 2)
4
2

In [ ]:
df.tail()

      name  score     sport gender
2      Tim     85    Skiing      M
3     John     75  Swimming      M
4     Alex     95    Tennis      F
5  Vanessa     60    Karete      F
6     Kate     65   Surfing      F

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"])
df

      name      sport gender  score  age
0     Bill  Wrestling      M     90  NaN
1      Tom   Football      M     80  NaN
2      Tim     Skiing      M     85  NaN
3     John   Swimming      M     75  NaN
4     Alex     Tennis      F     95  NaN
5  Vanessa     Karete      F     60  NaN
6     Kate    Surfing      F     65  NaN

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"],
                index=["one","two","three","four","five","six","seven"])
df

          name      sport gender  score  age
one       Bill  Wrestling      M     90  NaN
two        Tom   Football      M     80  NaN
three      Tim     Skiing      M     85  NaN
four      John   Swimming      M     75  NaN
five      Alex     Tennis      F     95  NaN
six    Vanessa     Karete      F     60  NaN
seven     Kate    Surfing      F     65  NaN

In [ ]:
df["sport"]

one      Wrestling
two       Football
three       Skiing
four      Swimming
five        Tennis
six         Karete
seven      Surfing
Name: sport, dtype: object

In [ ]:
df.loc[["one"]]

     name      sport gender  score  age
one  Bill  Wrestling      M     90  NaN

In [ ]:
df.loc[["one","two"]]

     name      sport gender  score  age
one  Bill  Wrestling      M     90  NaN
two   Tom   Football      M     80  NaN

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"], 
                index=["one","two","three","four","five","six","seven"])
values=[18,19,20,18,17,17,18]
df["age"]=values
df

          name      sport gender  score  age
one       Bill  Wrestling      M     90   18
two        Tom   Football      M     80   19
three      Tim     Skiing      M     85   20
four      John   Swimming      M     75   18
five      Alex     Tennis      F     95   17
six    Vanessa     Karete      F     60   17
seven     Kate    Surfing      F     65   18

In [ ]:
df["pass"]=df.score>=70
df

          name      sport gender  score  age   pass
one       Bill  Wrestling      M     90   18   True
two        Tom   Football      M     80   19   True
three      Tim     Skiing      M     85   20   True
four      John   Swimming      M     75   18   True
five      Alex     Tennis      F     95   17   True
six    Vanessa     Karete      F     60   17  False
seven     Kate    Surfing      F     65   18  False

# Series Data Structure

In [ ]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [ ]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [ ]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [ ]:
obj2["b"]

'John'

# Working with Series Data Structure

In [ ]:
!wget https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv

--2022-09-13 04:01:09--  https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1355781 (1.3M) [text/plain]
Saving to: vgsalesGlobale.csv

vgsalesGlobale.csv  100%[===================>]   1.29M  --.-KB/s    in 0.01s

2022-09-13 04:01:09 (131 MB/s) - vgsalesGlobale.csv saved [1355781/1355781]

In [ ]:
games=pd.read_csv("/content/vgsalesGlobale.csv", sep=',')

In [ ]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
games.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [ ]:
games.Genre.describe()

count      16598
unique        12
top       Action
freq        3316
Name: Genre, dtype: object

In [ ]:
games.Genre.value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [ ]:
games.Genre.value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [ ]:
games.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [ ]:
pd.crosstab(games.Genre, games.Year)

Year,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2020.0
Genre,,,,,,,,,,,,,,,,,,,,,
Action,1,25,18,7,1,2,6,2,2,2,...,272,226,239,266,148,186,255,119,1,0
Adventure,0,0,0,1,0,0,0,1,0,0,...,141,154,108,58,60,75,54,34,0,0
Fighting,1,0,0,0,0,1,0,2,0,0,...,53,40,50,29,20,23,21,14,0,0
Misc,4,0,1,1,1,0,0,0,0,1,...,207,201,184,38,42,41,39,18,0,0
Platform,0,3,5,5,1,4,6,2,4,3,...,29,31,37,12,37,10,14,10,0,0
Puzzle,0,2,3,1,3,4,0,0,1,5,...,79,45,43,11,3,8,6,0,0,0
Racing,0,1,2,0,3,0,1,0,1,0,...,84,57,65,30,16,27,19,20,0,0
Role-Playing,0,0,0,0,0,0,1,3,3,2,...,103,103,95,78,71,91,78,40,2,0
Shooter,2,10,5,1,3,1,4,2,1,1,...,91,81,94,48,59,47,34,32,0,0
Simulation,0,1,0,0,0,1,0,0,1,0,...,123,82,56,18,18,11,15,9,0,1
Sports,1,4,2,1,2,1,3,4,2,3,...,184,186,122,54,53,55,62,38,0,0
Strategy,0,0,0,0,0,0,0,0,0,0,...,65,53,46,15,19,8,17,10,0,0

In [ ]:
games.Global_Sales.mean()

0.5374406555006628

# Summarizing & Computing Descriptive Statistics

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame([[2.4,np.nan],[6.3,-5.4],[np.nan,np.nan],[0.75,-1.3]],
                index=["a","b","c","d"],
                columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [ ]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [ ]:
df.idxmax()

one    b
two    d
dtype: object

# Indexing & Selection & Filtering in Pandas

In [ ]:
obj=pd.Series(np.arange(5),
              index=["a","b","c","d","e"])

obj

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
obj["c"]

2

In [ ]:
print(obj[["a","c"]])
print(obj[[0,2]])

a    0
c    2
dtype: int64
a    0
c    2
dtype: int64

# DataFrame Indexing

In [ ]:
data=pd.DataFrame(
    np.arange(16).reshape(4,4),
    index=["London","Paris",
           "Berlin","Istanbul"],
    columns=["one","two","three","four"])
data

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [ ]:
data[["one","two"]]

          one  two
London      0    1
Paris       4    5
Berlin      8    9
Istanbul   12   13

In [ ]:
data[:3]

        one  two  three  four
London    0    1      2     3
Paris     4    5      6     7
Berlin    8    9     10    11

In [ ]:
data[data["four"]>5]

          one  two  three  four
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

# Selecting with iloc and loc

In [ ]:
data.iloc[1]

one      4
two      5
three    6
four     7
Name: Paris, dtype: int64

In [ ]:
data.iloc[1,[1,2,3]]

two      5
three    6
four     7
Name: Paris, dtype: int64

In [ ]:
data.iloc[[1,3],[1,2,3]]

          two  three  four
Paris       5      6     7
Istanbul   13     14    15

In [ ]:
data.loc["Paris",["one","two"]]

one    4
two    5
Name: Paris, dtype: int64

# Lab Task 01

Import the necessary libraries

In [9]:
# YOUR CODE HERE

1. Download the movie dataset from this website (Download it manually) https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset?select=House_Rent_Dataset.csv to your computer and upload it. Use that file and assign it to a dataframe called house_details

In [10]:
# YOUR CODE HERE

2. Display the first 15 rows

In [ ]:
# YOUR CODE HERE

3. Display the following columns with all rows

Posted On, Rent, city and Furnishing Status

In [ ]:
# YOUR CODE HERE

4. Find the total number of rows in your dataset?

In [ ]:
# YOUR CODE HERE

5. Find the total number of columns in your dataset?

In [ ]:
# YOUR CODE HERE

6. Print the name of all the columns present in your dataset

In [ ]:
# YOUR CODE HERE

Display the detail of houses that are Furnished

In [ ]:
# YOUR CODE HERE

Now, display those houses that are furnished and have rent < 15K

# Lab Task 02

Import the dataset from this address https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user without downloading it manually

In [16]:
# YOUR CODE HERE

Assign it to a variable called users and use the 'user_id' as index. choose the seperater/delimiter carefully.

In [ ]:
# YOUR CODE HERE

Display 1/3rd rows

In [ ]:
# YOUR CODE HERE

Display the entire occupation column

In [ ]:
# YOUR CODE HERE

How many different occupations are in this dataset?

In [ ]:
# YOUR CODE HERE

What is the most occuring occupation for each gender seperatly?

In [ ]:
# YOUR CODE HERE

What is the mean age of users?

In [ ]:
# YOUR CODE HERE

Display the users who have age more than 40

In [ ]:
# YOUR CODE HERE

Find max and min value from each numeric column

In [ ]:
# YOUR CODE HERE

Find smallest and largest string from occupation column

In [15]:
# YOUR CODE HERE

Happy Coding :)